:root {
    --color-white: #ffffff;
    --color-button: #1D84BC;
    --color-aside: #177FB7;
    --color-fondo: #dadcdf;
    --color-franja: #CD9A25;
}


a {
    text-decoration: none;
    color: inherit;
    outline: none;
    display: flex;
    gap: .5rem;
    margin-left: .5rem;
    line-height: 2.5rem;
    align-items: center;
    font-size: 1.5rem;
}

.layout-wrapper {
    width: 100vw;
    display: flex;
}
aside svg {
    fill: var(--color-white);
}
svg:hover {
    fill: var(--color-fondo);
}

aside {
    width: 20%;
    background-color: var(--color-aside);
    display: flex;
    flex-direction: column;
    gap: 3%;
    padding: 2% 0 10% 2%;
    color: var(--color-white);
    font-weight: 550;
}
.avatar-dates img {
    width: 2.5rem;
}
.user-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: .5rem;
    line-height: 1rem;
}
.dashboard {
    display: flex;
    width: 90%;
    align-items: center;
    svg {
        height: 2rem;
    }
}

h2 {
    font-size: 1.5rem;
    margin-left: .5rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
a svg {
    height: 1.5rem;
}
.container {
    width: 100%;
}

header {
    width: 100%;
    height: 11rem;
    background-color: var(--color-white);
    padding: 2rem;
    padding-bottom: 0;
}
.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    svg {
        width: 2rem;
    }
}
.search-container {
    display: flex;
    gap: 1rem;
}
.search-container input {
    width: 55rem;
    padding-left: 2rem;
    border-radius: .8rem;
    border: none;
    background-color: var(--color-fondo);
}

nav {
    width: 100%;
    height: 60%;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}
.user-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}
.user-container img, .campana {
    width: 1.5rem;
}
.user-dates {
    display: flex;
}

main {
    width: 100%;
    display: flex;
}
.container-cards {
    background-color: var(--color-fondo);
    padding-top: 2.5rem;
}
.cards-section {
    background-color: var(--color-fondo);
    padding: 0 3rem 3rem 3rem ;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

}
.card-title {
    padding-left: 3rem;
}

.target {
    background-color: #fff;
    border-radius: .5rem;
    padding: 2rem;
}

.card-1, .card-2, .card-3, .card-4, .card-5, .card-6 {
    border-left: 0.6rem solid var(--color-franja);
}

.container-ann-tren {
    padding: 0 3rem 0 0;
    background-color: var(--color-fondo);
}
.announcements, .trending {
    font-size: .7rem;
}
.announcements {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h5{
        font-size: .9rem;
    }
    p {
        font-size: .8rem;
    }
}
.trending {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h5{
        font-size: .9rem;
    }
    p {
        font-size: .8rem;
    }
}
.trending section {
    display: flex;
    align-items: center;
}
.avatar-trending {
    width: 2.3rem;
    margin-right: 1rem;
}
hr {
    border: rgb(175, 175, 175) .1px solid;
}

.container-icon {
    display: flex;
    height: 30%;
    align-items: center;
    justify-content:flex-end;
    gap: 1rem;
}

.container-announcements {
    margin-top: 2rem;
}
.container-trending {
    margin-top: 1.5rem;
}

.icon {
    width: 1rem;
}

button {
    padding: .1rem 1rem;
    border-radius: 2rem;
    color: white;
    background-color: var(--color-button);
    border: none;
    cursor: pointer;
    margin-left: 3rem;
}

