:root {
    --color-white: #ffffff;
    --color-button: #1D84BC;
    --color-aside: #177FB7;
    --color-fondo: #dadcdf;
    --color-franja: #CD9A25;
}


a {
    text-decoration: none;
    color: inherit;
    outline: none;
    display: flex;
    gap: .5rem;
    margin-left: .5rem;
    line-height: 2.5rem;
    align-items: center;
    font-size: 1.5rem;
}

.layout-wrapper {
    background-color: red;
    width: 100vw;
    height: 100vh;
    display: flex;
}
aside svg {
    fill: var(--color-white);
}
svg:hover {
    fill: var(--color-fondo);
}

aside {
    width: 25%;
    height: 100%;
    background-color: var(--color-aside);
    display: flex;
    flex-direction: column;
    gap: 3%;
    padding: 2% 0 10% 2%;
    color: var(--color-white);
    font-weight: 550;
}
.avatar-dates img {
    width: 2.5rem;
}
.user-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: .5rem;
    line-height: 1rem;
}
.dashboard {
    display: flex;
    width: 90%;
    align-items: center;
    svg {
        height: 2rem;
    }
}

h2 {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
a svg {
    height: 1.5rem;
}
.container {
    width: 100%;
    height: 100%;
    /*background-color: #464343;*/
}

header {
    width: 100%;
    height: 20%;
    padding-top: 2%;
    padding-right: 3%;
}
.search {
    width: 100%;
    height: 40%;
    background-color: var(--color-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    svg {
        width: 2rem;
    }
}
.search-container {
    display: flex;
}
.search-container input {
    border-radius: .8rem;
    border: none;
    background-color: var(--color-fondo);
}

nav {
    width: 100%;
    height: 60%;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.user-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}
.user-container img, .campana {
    width: 1.5rem;
}
.user-dates {
    display: flex;
}

main {
    width: 100%;
    height: 80%;
    display: flex;
}
.cards-section {
    width: 80%;
    height: 100%;
    background-color: var(--color-fondo);
    padding: 2rem;
}

.cards-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 27%);
    gap: 2rem;
}

.cards-grid article {
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    align-self: center;
    padding: 1.5rem 1rem;
    font-size: 1.2em;
    border-left: solid var(--color-franja) 0.5rem;
}

.container-icon {
    display: flex;
    height: 30%;
    align-items: center;
    justify-content:flex-end;
    gap: 1rem;
}

.info {
    width: 20%;
    height: 100%;
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}
.container-announcements {
    width: 80%;
    /*height: 30%;*/
    /*background-color: #598b4a;*/
    font-size: 1.5rem;
    
}
.announcements {
    background-color: var(--color-white);
    /*height: 90%;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    gap: 1rem;
    font-size: 1rem;
}

.container-trending {
    width: 80%;
    margin-top: 1rem;
    /*height: 30%;*/
    /*background-color: #464343;*/
    font-size: 1.5rem;
    
}
.trending {
    padding: .5rem;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}
.trending section {
    display: flex;
}
.icon {
    width: 1rem;
}
.avatar-trending {
    width: 30%;
    margin-right: 1rem;
}
.announcements, .trending, .cards-grid article {
    border-radius: 0.29rem;
}

button {
    padding: .1rem 1rem;
    border-radius: 2rem;
    color: white;
    background-color: var(--color-button);
    border: none;
    cursor: pointer;
}
.info p {
    font-size: .8em;
}
