.layout-wrapper {
    background-color: wheat;
    width: 100vw;
    height: 100vh;
    display: flex;
    color: white;
}
svg {
    fill: white;
}
svg:hover {
    fill: red;
}

aside {
    width: 25%;
    height: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2% 0 30% 2%;
}
.dashboard {
    display: flex;
    width: 90%;
    align-items: center;
    h2 {
        font-size: 1.2rem;
        margin-left: 0.5rem;
    }
    svg {
        height: 2rem;
    }
    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #464343;
}

header {
    width: 100%;
    height: 20%;
}
.search {
    width: 100%;
    height: 40%;
    background-color: rgb(110, 126, 145);
    display: flex;
    justify-content: space-around;
    align-items: center;
    svg {
        width: 2rem;
    }

}
.search-container {
    display: flex;
}
.search-container input {
    border-radius: .8rem;
}

nav {
    width: 100%;
    height: 60%;
    background-color: rgb(38, 100, 170);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.user-container {
    display: flex;
    gap: 1rem;
}
.user-dates {
    display: flex;
}

main {
    width: 100%;
    height: 80%;
    display: flex;
}
.cards-section {
    width: 80%;
    height: 100%;
    background-color: #a02020;
    padding: 1rem 1rem;
}
.title {
    
}
.cards-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 27%);
    gap: 1rem;
}

.cards-grid article {
    width: 100%;
    height: 100%;
    background: #000;
    align-self: center;
    padding: 1rem;
    font-size: 0.6em;
    border-left: solid white 0.3rem;
}

.container-icon {
    display: flex;
    height: 30%;
    align-items: center;
    justify-content:flex-end;
    gap: 1rem;
}

.info {
    width: 20%;
    height: 100%;
    background-color: #d6e226;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;    
}
.container-announcements {
    width: 80%;
    /*height: 30%;*/
    background-color: #598b4a;
    
}
.announcements {
    background-color: #2963a5;
    /*height: 90%;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem;
}

.container-trending {
    width: 80%;
    /*height: 30%;*/
    background-color: #464343;
    
}
.trending {
    padding: .5rem;
    background-color: #4ca33a;
}
.trending section {
    display: flex;
}

.announcements, .trending, .cards-grid article {
    border-radius: 0.29rem;
}

button {
    padding: .1rem 1rem;
    border-radius: 2rem;
    color: white;
    background-color: #6b0f0f;
}
.info p {
    font-size: .5em;
}