.layout-wrapper {
    background-color: wheat;
    width: 100vw;
    height: 100vh;
    display: flex;
    color: white;
}

aside {
    width: 25%;
    height: 100%;
    background-color: blue;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #464343;
}

header {
    width: 100%;
    height: 20%;
}
.search {
    width: 100%;
    height: 40%;
    background-color: rgb(110, 126, 145);
}
nav {
    width: 100%;
    height: 60%;
    background-color: rgb(38, 100, 170);
}

main {
    width: 100%;
    height: 80%;
    display: flex;
}
.cards-section {
    width: 80%;
    height: 100%;
    background-color: #a02020;
    padding: 1rem 1rem;
}
h2 {
    
}
.cards-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 27%);
    gap: 1rem;
    
}
article {
    width: 100%;
    height: 100%;
    background: #000;
    align-self: center;
}

.info {
    width: 20%;
    height: 100%;
    background-color: #d6e226;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;    
}
.announcements {
    width: 80%;
    height: 30%;
    background-color: #fff;
}
.trending {
    width: 80%;
    height: 30%;
    background-color: #464343;
}